@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    height: 100vh;
    background: url("./assets/background.jpg") center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    position: relative;
    list-style: none;
    margin-left: 35px;
}

.navbar ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s;
}

.navbar ul li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
}

.content {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 50px 100px 0;
    color: #ffffff;
}

.info h1 {
    font-size: 50px;
}

.info p {
    margin: 10px 0 25px;
}

.btn {
    display: inline-block;
    padding: 12px 50px;
    background: #ffffff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 600;
    color: #333;
}